<div class="container">

  <h1 class="title">Token contract demo</h1>

  <div *ngIf="web3.eth === undefined" class="notification is-warning">
    No Ethereum web3 extension available!
  </div>

  <div *ngIf="accountAddress === null" class="notification is-warning">
    No Ethereum account unlocked
  </div>

  <form>

    <div class="columns">

      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="field">
              <label class="label">Contract address</label>
              <div class="control"><input class="input" type="text" name="contractAddress" [(ngModel)]="contractAddress" disabled></div>
            </div>

            <div class="field">
              <label class="label">ABI</label>
              <div class="control">
                  <textarea class="textarea" rows="5" disabled>{{JSON.stringify(contractAbi)}}</textarea>
              </div>
            </div>

            <div class="field">
              <label class="label">My address</label>
              <div class="control"><input class="input" type="text" name="walletAddress" value="{{accountAddress}}" disabled></div>
            </div>

            <div class="field">
              <label class="label">Token balance</label>
              <div class="control"><input class="input" type="text" value="{{accountBalance}}" disabled></div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-content">
            <label class="label">Request token</label>
            <div class="field"><div class="control"><button type="button" class="button is-link" (click)="requestToken()">send tx</button></div></div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <label class="label">Send tokens</label>

            <div class="field">
              <label class="label">amount</label>
              <div class="control"><input #amount class="input" type="number" value="1"></div>
            </div>

            <div class="field">
              <label class="label">to</label>
              <div class="control"><input #recipient class="input" type="text" placeholder="recipient address"></div>
            </div>

            <div class="field"><div class="control"><button type="button" class="button is-link" (click)="sendTokens(amount.value, recipient.value)">send tx</button></div></div>

          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <label class="label">Kill contract (only owner can do this)</label>
            <div class="field"><div class="control"><button type="button" class="button is-link" (click)="killContract()">Kill</button></div></div>
          </div>
        </div>

      </div>

    </div>

  </form>

</div>
